language: php

php:
  - 5.6
  - 7.0

sudo: false

env:
  global:
    - DEFAULT=1
    - DB=sqlite

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: CODECOVERAGE=1 DEFAULT=0

    - php: 7.0
      env: PHPCS=1 DEFAULT=0

install:
  - composer self-update
  - composer install --prefer-dist

before_script:
  - phpenv rehash
  - set +H

script:
  - sh -c "if [ '$DEFAULT' = '1' ]; then phpunit  --stderr; fi"
  - sh -c "if [ '$PHPCS' = '1' ]; then ./vendor/bin/phpcs -p --extensions=php --standard=vendor/cakephp/cakephp-codesniffer/CakePHP ./src ./tests; fi"

  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then ./vendor/bin/phpunit --coverage-clover=clover.xml; fi"
  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then wget -O codecov.sh https://codecov.io/bash; fi"
  - sh -c "if [ '$CODECOVERAGE' = '1' ]; then bash codecov.sh; fi"

notifications:
  email: false
